.cart-section{
   background-color: rgb(199, 201, 197);
   color: black;
   padding: 20px;
   text-align: center;
   font-weight: bolder;
   margin:10px;
   border-radius: 10px;
   border: 2px solid black;
   transition: 0.5s;
   font-size: 20px;
}
.cart-section:hover{
    background-color: aquamarine;
    color: black;
}
.cart-section img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.btn-click{
    background-color: black;
    padding: 13px;
    border: 2px solid gray;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.btn-click:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
    border: 2px solid black;
}
.fab{
    font-size: 35px;
    /* margin-top: 5px; */
    padding: 10px;
    border-radius: 51%;
    cursor: pointer;
}