.display-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.person-container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    border-right: 2px solid gray;
    margin-right: 15px;
    margin-left: 20px;
}

.carts-container{
    background-color: thistle;
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px
}